html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Roboto Slab', serif; */
	font-family: 'Montserrat', sans-serif;
}

.btn-primary {
	background-color: #000000;
	color: #59968F;
	outline: none;
	border-color: #000000;
}

.btn-primary:hover {
	outline: none;
	background-color: #000000;
	color: #59968F;
}

.btn-primary:focus {
	outline: none;
}

/*Slider Section Styling start*/
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .next,
.slides-navigation .prev {
	width: 2em;
	height: 2em;
	background-repeat: no-repeat;
	background-size: cover;
}

.slides-navigation a.next {
	background-image: url(../img/icons/next.png);
	right: 1em;
}

.slides-navigation a.prev {
	background-image: url(../img/icons/prev.png);
	left: 1em;
}

.title-part {
	width: 100%;
	top: 40%;
	position: absolute;
	z-index: 6;
	text-align: center;
}

.title-part p {
	letter-spacing: .1em;
	color: #59968F;
	text-shadow: 0 .05em 0.08em rgba(0,0,0,0.5);
}

.title-part .name {
	font-size: 2.5em;
	font-weight: 500;
}

.title-part .title {
	font-size: 1em;
}

/*Sliding section Style End*/



/*STyling Navbar Scetion Start*/

.navbar-toggler-icon {
	background-image: url(../img/icons/menu.png);
}

.navbar-toggler:focus {
	outline: 0;
}

.my-navbar {
	background-color: #000000 !important;
	box-shadow: 0 2px 6px 0 rgb(35 35 35 / 82%);
}

.my-navbar .navbar-collapse {
	justify-content: center;
}

/* .logo {
	padding: 0;
} */

.logo img {
	width: 150px;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1em;
		padding-left: 1em;
		margin-right: 1em;
	}
}

.my-navmenu-items a {
	color: #59968F;
	/* text-transform: uppercase; */
}

#navbar {
	z-index: 10;
	position: sticky;
	top: 0;
}


/*STyling Navbar Scetion End*/


/*About section Styling Start*/

.section-padding {
	padding: 3em 0;
}

.profile-img {
	/* width: 100%;
	border-radius: 5%;
	height: 20em; */
	width: 300px;
    border-radius: 50%;
    height: 300px;
	filter: saturate(.4);
}

.about-details {
	font-size: 1em;
    letter-spacing: 0;
    /* line-height: 2em; */
	text-align: justify;
}

/*About section Styling End*/



/*Skills section Styling Start*/

.skills-section {
	background-color: #000000;
	color: #59968F;
}

.skill {
	text-align: center;
	padding: 0 1em;
}

.skill h4 {
	margin-top: 1em;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	text-align: center;
	display: inline-block;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.percent {
	line-height: 152px;
	font-size: 2em;
	color: #59968F;
	font-weight: 600;
}

.percent:after {
	content: "%";
}

/*over-ride own nav*/
.owl-nav {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
	padding: 0 .2em !important;
    font-size: 2em;
    margin: 0 .5em;
    line-height: 1em;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev:focus {
	outline: 0;
} 

/*Skills Section end*/



/*Stats Section Start*/
.stats {
	margin: 1em;
}

.stats-icon i {
    width: 40%;
    position: absolute;
    top: 0;
    left: 30%;
    color: #000000;
    font-size: 3em;
}

.stats-details {
	border: 1px solid #444;
	padding: 5em 0;
	border-top: 0;
	position: relative;
}


.stats-details:after,
.stats-details:before {
	content: "";
	width: 30%;
	position: absolute;
	border-bottom: 1px solid #444;	
	top: 0;
}	

.stats-details:after {
	right: 0;
}

.stats-details:before {
	left: 0;
}

.stats-details h2 {
	font-size: 3em;
	color: #000000;
	font-weight: 400;
}

.stats-details h4 {
	font-size: 1em;
}



/*Project demo Styling start*/

.project-demo-section {
	background-color: #000000;
}

.project-demo-header {
	width: 100%;
	text-align: center;
	color: #59968F;
}

.project-part {
	padding: 1em 0;
}

.demo-img {
	width: 100%;
	height: 15em;
	margin: .5em 0;
	cursor: pointer;
	position: relative;
	opacity: 1;
}



.img-overlay {
	width: 91%;
	background-color: #59968F;
	height: 0;
	position: absolute;
	top: 0;
	left: 4.5%;
	opacity: 0;
	margin: 0.5em 0;
	border-radius: .5em;
	transition: height 0.5s ease;
}

.overlay-btn {
	margin: 36% auto;
	display: block;
	background-color: #ffffff;
	color: #000000; 
	opacity: 0;
	transition: 0.4s;
	border: 0;
	transition: 0.5s ease;
	border-radius: 2em;
	padding: .5em 2em;
}

/* .overlay-btn:hover {
	background-color: #fff;
	color: #000000;
} */

.overlay-container:hover .img-overlay {
	opacity: 0.96;
	height: 15em;
	text-align: center;
}

.overlay-container:hover .overlay-btn {
	opacity: 1;
	color: #59968F;
    background-color: #000000;
    border-color: #000000;
}

/* .overlay-btn:hover {
	
} */

.overlay-btn:focus {
	outline: 0;
}

.project-details h4 {
	font-size: 1.2em;
	color: #59968F;
	/* font-style: italic; */
}

.project-details p {
	color: #59968F;
	font-size: 0.8em;
}

.live-demo-btn {
	padding: .5em 2em;
	background-color: #59968F;
	color: #000000;
	text-decoration: none;
	border-radius: 2em;
}

.live-demo-btn:hover {
	background-color: #59968F;
	color: #000000;
	text-decoration: none;
}

.modal-img {
	width: 100%;
}

/*Project demo Styling End*/



/*Contact Section Styling Start*/

.contact-section {
	background: #FFFFFF;
}

.contact-header h2 {
	color: #000000;
	font-weight: 600;
}

.contact-header p {
	font-size: 1.2em;
	color: #000000;
}

.contact-social {
	text-align: center;
}

.contact-social ul {
	padding-left: 0;
}

.contact-social ul li {
	height: 40px;
    width: 40px;
	display: inline-block;
	/* padding: .6em 1em; */
	border: 1px solid #000000;
	border-radius: 50%;
	margin: 1em 0.5em;
}

.contact-social ul li a {
	font-size: 1.5em;
	color: #000000;
}

.contact-social ul li:hover {
	background-color: #000000;
}

.contact-social ul li:hover a {
	color: #59968F;
}

.cell {
	text-align: center;
}

.mobile, .mail {
	padding: 1em;
	color: #000000;
}

.mobile i, .mail i {
	padding: .2em;
}
/*Contact Section Styling End*/










@media screen and (max-width: 938px) {
	.slides-container img {
		height: 80%;
		width: 100%;
		background-image: cover;
	}

	.mobile, .mail {
		display: block;
		padding: .2em;
	}

	.overlay-btn {
		margin: 8em auto;
		padding: .2em 1em;
		font-size: .8em;
	}
}