
/*Slider Section Styling start*/
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .next,
.slides-navigation .prev {
	width: 2em;
	height: 2em;
	background-repeat: no-repeat;
	background-size: cover;
}

.slides-navigation a.next {
	background-image: url(../img/icons/next.png);
	right: 1em;
}

.slides-navigation a.prev {
	background-image: url(../img/icons/prev.png);
	left: 1em;
}

.title-part {
	width: 100%;
	top: 40%;
	position: absolute;
	z-index: 6;
	text-align: center;
}

.title-part p {
	letter-spacing: .2em;
	color: #fff;
	text-shadow: 0 .05em 0.08em rgba(0,0,0,0.5);
}

.title-part .name {
	font-size: 2.2em;
}

.title-part .title {
	font-size: 1em;
}

/*Sliding section Style End*/


/*About section Styling Start*/

.section-padding {
	padding: 3em 0;
}

.profile-img {
	width: 100%;
	border-radius: 5%;
	height: 20em;
}

.about-details {
	font-size: 1.2em;
	letter-spacing: .05em;
	line-height: 2em;
}

/*About section Styling End*/



/*Skills section Styling Start*/

.skills-section {
	background-color: #16a085;
	color: #fff;
}

.skill {
	text-align: center;
	padding: 0 1em;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	text-align: center;
	display: inline-block;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.percent {
	line-height: 152px;
	font-size: 2em;
	color: #1e1e1e;
}

.percent:after {
	content: "%";
}

/*over-ride own nav*/
.owl-nav {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
	padding: 0 .2em !important;
    font-size: 2em;
    margin: 0 .5em;
    line-height: 1em;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev:focus {
	outline: 0;
} 

/*Skills Section end*/



/*Stats Section Start*/
.stats {
	margin: 1em;
}

.stats-icon i {
    width: 40%;
    position: absolute;
    top: 0;
    left: 30%;
    color: #16a085;
    font-size: 3em;
}

.stats-details {
	border: 1px solid #444;
	padding: 5em 0;
	border-top: 0;
	position: relative;
}


.stats-details:after,
.stats-details:before {
	content: "";
	width: 30%;
	position: absolute;
	border-bottom: 1px solid #444;	
	top: 0;
}	

.stats-details:after {
	right: 0;
}

.stats-details:before {
	left: 0;
}

.stats-details h2 {
	font-size: 3em;
	color: #16a085;
	font-weight: 400;
}

.stats-details h4 {
	font-size: 1em;
}